body {
  padding: 25px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
html , body, iframe{
height: 100%;
width: 100%;
}

#div-form{
      display: flex;
    flex-direction: column;
    align-items: center;
}
form{
      /* flex-grow: 1; */
    width: 100%;
    display: flex;
    flex-direction: column;
  max-width: 600px;
}
#cauta{
      max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
